@import "../../../assets/scss/setup/variables.scss";
@import "../../../assets/scss/setup/mixins.scss";
:host{
    .chart-container {
        margin-block-start: 10px;
        width: 300px;
        height: 300px;
        @include for-mobile-layout{
          margin-block-start: 90px;
        }
        padding-inline: 30px;
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
        background-color:white;
        border-radius: 10px;
      }
}