<div *ngIf="contact$ | async as contact" class="deteiled-view">
    <div class="deteiled-view__header">
        <h1>{{contact.name}}</h1>
    </div>
    <div class="deteiled-view__content">
        <div class="deteiled-view__content__item">
        <span>Phone:</span>
        <span>{{contact.phone}}</span>
        </div>
        <div class="deteiled-view__content__item">
        <span>Email:</span>
        <span>{{contact.email}}</span>
        </div>
    </div>
    <form>
        <input type="number" [(ngModel)]="transfer" name="transfer" placeholder="">
        <button (click)="Transfer()">Transfer</button>
    </form>
    <ul>
        <li *ngFor="let transfer of transactions">
            <span>{{transfer.at}}</span>
            <span>{{transfer.amount}}</span>
        </li>
    </ul>

    <a routerLink="/contact">Back</a>
</div>
