@import '../../../assets/scss/setup/variables';

:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navHeight;

    a {
        &:not(:last-child) {
            margin-right: 10px;
        }
    
        &.active {
            color: rgb(54 185 71);
            font-weight: bold;
        }
    }
}

