@import "../setup/variables.scss";
@import "../setup/mixins.scss";

.main-layout{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 450px;
    height: 100%;
    @include for-mobile-layout{
        height: calc(100vh - 100px);
    }

    width: 350px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 10px;
}

// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
}

.simple-list{
    ul{
        list-style-type: none;
        padding-inline-start: 0;
        overflow-y: auto;
        height: 300px;
        @include for-mobile-layout{
            height: calc(100vh - 250px);
        }

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;  
        scrollbar-width: none;  

        li{
            margin-block-end: 10px;
        }
    }
}

.fixed-center {
    position: fixed;
    z-index: 100;
    color: black;
    inset: 0;
    transform: translate(50%, 50%);
}
