<div class="contact-preview">
    <div class="contact-deteils-and-icon">
        <div [routerLink]="['/contact', contact._id]" class="contact-deteils">
            <div  class="contact-preview__name">{{contact.name}}</div>
            <div class="contact-preview__phone">{{contact.phone}}</div>
        </div>
        <img src="assets/img/contact.png" alt="contact image" class="contact-preview__img">
    </div>
    <div class="contact-preview-actions">
        <button [routerLink]="['./edit', contact._id]" >Edit</button>
        <button (click)="delete.emit(contact._id)">Delete</button>
    </div>
</div>


